
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: flex;
    flex: 0 0 auto;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    height: 30px;
    width: 100px;
    border: 1px solid #3882f6;
    border-radius: 5px;
}

.header, .hero, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    padding: 5px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero {
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: space-between;
    height: 200px;
    width: 400px;
    
}

.hero-card {
    background-color: darkgray;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;

}

.imageboard {
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-set {
    height: auto;
    width: 100px;
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.blank {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.quoteboard {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 100px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.signup-prompt {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 25px 75px;
    display: flex;
    align-items: center;
}

.signup-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    white-space: nowrap;
}

.signup-sub {
    font-size: small;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hel-bold {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 800;
}

.grey-txt {
    color: #e5e7eb;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}

.im-txt {
    color: rgb(129, 129, 129);
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
    text-align: center;
}

.ital {
    font-style: italic;
}

#logo {
    font-size: 24px;
    display: flex;
    flex: 0 0 auto;
}

#hero-header {
    font-size: 48px;
}

#im-header {
    font-size: 36px;
    margin: 16px;
    color: #1f2937;
    white-space: nowrap;
}

#quote {
    font-family: Helvetica, sans-serif;
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    width: 700px;
}

#quotee {
    color: #1f2937;
    margin-left: 500px;
    white-space: nowrap;
}

#signup-header {
    color: #e5e7eb;
}

#su-button {
    border: 2px solid #e5e7eb;
    margin-left: 100px;
    white-space: nowrap;
}

#footer-txt {
    margin: 30px 0;
}